/* CSS for home-numbers section */

/* Stats Section Styles */
.stats-section {
    background: linear-gradient(to bottom, #f0f7ff 0%, #fdfdff 70%, #fdfdff 100%);
    padding-top: var(--section-padding-desktop);
    padding-bottom: var(--section-padding-desktop);
  }
  
  
  
  .stat-box {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 1rem;
  
    display: flex
  ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 110px;
  }
  
  .stat-box__icon {
    font-size: 2.6rem;
    color: var(--brand-tertiary);
  }
  
  .stat-box__number {
    font-size: 2rem; 
    font-weight: 700;
    color: var(--brand-secondary);
  margin: 0;
  }
  
  .stat-box__text {
    font-size: 1.25rem;
    color: var(--body-color);
  margin: 0;
  }
  
  
  
/* Intermediary CTA Section */
.intermediary-cta-section {
  background:linear-gradient(rgba(145, 176, 201, 0.2), rgba(241, 252, 227, 0.2) 80%);
  padding-top: var(--section-padding-desktop);
  padding-bottom: var(--section-padding-desktop);
  overflow: hidden; 
}

.intermediary-cta-section__image-col {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.intermediary-cta-section__image {
  max-width: 100%;
  height: auto;

}

.intermediary-cta-section__content-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; 
}


.intermediary-cta-section__title .accent-text {
  color: var(--brand-primary); /* #1448B8 for the accented part */
}


.intermediary-cta-section__button {
  align-self: flex-start; /* Aligns button to the right in RTL */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.8rem;
}





.intermediary-cta-section {
  background:linear-gradient(rgba(145, 176, 201, 0.2), rgba(241, 252, 227, 0.2) 80%);
  padding-top: var(--section-padding-desktop);
  padding-bottom: var(--section-padding-desktop);
  overflow: hidden; 
}

.intermediary-cta-section__image-col {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.intermediary-cta-section__image {
  max-width: 100%;
  height: auto;

}

.intermediary-cta-section__content-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; 
}


.intermediary-cta-section__title .accent-text {
  color: var(--brand-primary); /* #1448B8 for the accented part */
}


.intermediary-cta-section__button {
  align-self: flex-start; /* Aligns button to the right in RTL */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.8rem;
}



/* faq question */

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--brand-secondary);
}
.accordion-title{
  font-size: 30px;
    font-weight: 600;
    font-family: var(--body-font-family);

}
.accordion button {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
  padding: 1em 0;
  color: #666;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--brand-primary);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
}


.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 0;
  width: 22px;
  height: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 9px;
  width:14px;  
  height: 3px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 4px;
  left: 14px;
  width: 3px;
  height: 14px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--brand-secondary);
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 2em 0;
  color: var(--brand-secondary);
}













/* Responsive adjustments for Stats Section */

  

